# Données des loyers

In [3]:
import pandas as pd

# Import des datasets depuis data gouv pour les appartements 1 et 2 pièces
loyers_2024 = pd.read_csv('https://www.data.gouv.fr/fr/datasets/r/89956da9-5b9b-41d7-8703-18dbec4d54a2', encoding='latin-1', sep=';')
loyers_2023 = pd.read_csv('https://www.data.gouv.fr/fr/datasets/r/edadefbc-9707-45ef-a841-283608709e58', encoding='latin-1', sep=';')
loyers_2022 = pd.read_csv('https://www.data.gouv.fr/fr/datasets/r/7141612b-8029-44a4-a048-921a85a47b1f', encoding='latin-1', sep=';')

# Ajout d'une colonne pour l'année du fichier
loyers_2024['annee'] = 2024
loyers_2023['annee'] = 2023
loyers_2022['annee'] = 2022

# Concaténer les données des loyers
loyers_full = pd.concat([loyers_2024, loyers_2023, loyers_2022], ignore_index=True)

## Exploration des loyers

In [4]:
loyers_full.loc[loyers_full['LIBGEO'].str.contains('Nieul-sur-Mer')]

,id_zone,INSEE_C,LIBGEO,EPCI,DEP,REG,loypredm2,lwr.IPm2,upr.IPm2,TYPPRED,nbobs_com,nbobs_mail,R2_adj,annee
8864,1611,17264,Nieul-sur-Mer,241700434,17,75,"15,6973097566384","12,4269528532851","19,8283148334885",maille,52,10361,"0,65007636150723",2024
45882,205,17264,Nieul-sur-Mer,241700434,17,75,"12,8882274829193","10,276902661019","16,163080757934",maille,48,488,"0,748866015585573",2023
103147,913,17264,Nieul-sur-Mer,241700434,17,75,"14,142377590729","11,7009080982947","17,0932753456889",maille,45,526,"0,61533015740466",2022

In [5]:
loyers_full.loc[loyers_full['LIBGEO'].str.contains('Lagord')]

,id_zone,INSEE_C,LIBGEO,EPCI,DEP,REG,loypredm2,lwr.IPm2,upr.IPm2,TYPPRED,nbobs_com,nbobs_mail,R2_adj,annee
8859,1611,17200,Lagord,241700434,17,75,"16,4447819095013","12,9646727015379","20,8590573998046",commune,115,10361,"0,65007636150723",2024
41196,1376,17200,Lagord,241700434,17,75,"15,6198503451144","12,3390878291948","19,7729141879114",commune,108,9189,"0,641281499725126",2023
103155,913,17200,Lagord,241700434,17,75,"14,142377590729","11,7009080982947","17,0932753456889",maille,78,526,"0,61533015740466",2022

In [6]:
loyers_full.loc[loyers_full['LIBGEO'].str.contains('Poitiers')]

,id_zone,INSEE_C,LIBGEO,EPCI,DEP,REG,loypredm2,lwr.IPm2,upr.IPm2,TYPPRED,nbobs_com,nbobs_mail,R2_adj,annee
9915,172,86194,Poitiers,200069854,86,75,"13,5127623775767","11,0001397089263","16,5993116364407",commune,22765,22983,"0,743015750534266",2024
62829,71,86194,Poitiers,200069854,86,75,"13,2469884817449","10,8178438328651","16,221597071161",commune,20335,21353,"0,74601894196153",2023
71077,1047,86194,Poitiers,200069854,86,75,"14,0771472018662","11,4781525322722","17,2646314627587",commune,17544,17771,"0,741450878832318",2022

In [7]:
loyers_full.loc[loyers_full['LIBGEO'].str.contains('Mérignac') & loyers_full['INSEE_C'].str.contains('33281')]

,id_zone,INSEE_C,LIBGEO,EPCI,DEP,REG,loypredm2,lwr.IPm2,upr.IPm2,TYPPRED,nbobs_com,nbobs_mail,R2_adj,annee
7463,1473,33281,Mérignac,243300316,33,75,"17,3211307731372","14,5231792360587","20,6581194367701",commune,6853,7051,"0,628501351976129",2024
45043,1859,33281,Mérignac,243300316,33,75,"16,8353834324416","14,0099460091962","20,2306372295286",commune,4021,4021,"0,614830898027762",2023
76332,1451,33281,Mérignac,243300316,33,75,"16,6314695477889","12,982729355201","21,3056724631034",commune,3656,35464,"0,609933135175862",2022

# Données des valeurs foncières

In [17]:
# Import des données depuis data gouv
dvf_2024 = pd.read_csv('https://www.data.gouv.fr/fr/datasets/r/5ffa8553-0e8f-4622-add9-5c0b593ca1f8', compression='zip', encoding='latin-1', sep='|')

C:\Users\Thibaut\AppData\Local\Temp\ipykernel_9528\378314913.py:2: DtypeWarning: Columns (14,18,23,24,26,28,29,30,31,33,41) have mixed types. Specify dtype option on import or set low_memory=False.
  dvf_2024 = pd.read_csv('https://www.data.gouv.fr/fr/datasets/r/5ffa8553-0e8f-4622-add9-5c0b593ca1f8', compression='zip', encoding='latin-1', sep='|')

In [18]:
display(dvf_2024.head(10), dvf_2024.columns, dvf_2024.dtypes)

,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,02/01/2024,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,P,NaN,99.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,03/01/2024,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,S,NaN,115.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,08/01/2024,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,S,NaN,497.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2024,Vente,...,NaN,1,3.0,DÃ©pendance,NaN,0.0,0.0,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2024,Vente,...,NaN,2,3.0,DÃ©pendance,NaN,0.0,0.0,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2024,Vente,...,NaN,2,3.0,DÃ©pendance,NaN,0.0,0.0,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2024,Vente,...,NaN,2,2.0,Appartement,NaN,89.0,4.0,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,09/01/2024,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,BR,NaN,1584.0
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,09/01/2024,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,BR,NaN,188.0
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,09/01/2024,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,BR,NaN,2532.0

Index(['Identifiant de document', 'Reference document', '1 Articles CGI',
       '2 Articles CGI', '3 Articles CGI', '4 Articles CGI', '5 Articles CGI',
       'No disposition', 'Date mutation', 'Nature mutation', 'Valeur fonciere',
       'No voie', 'B/T/Q', 'Type de voie', 'Code voie', 'Voie', 'Code postal',
       'Commune', 'Code departement', 'Code commune', 'Prefixe de section',
       'Section', 'No plan', 'No Volume', '1er lot',
       'Surface Carrez du 1er lot', '2eme lot', 'Surface Carrez du 2eme lot',
       '3eme lot', 'Surface Carrez du 3eme lot', '4eme lot',
       'Surface Carrez du 4eme lot', '5eme lot', 'Surface Carrez du 5eme lot',
       'Nombre de lots', 'Code type local', 'Type local', 'Identifiant local',
       'Surface reelle bati', 'Nombre pieces principales', 'Nature culture',
       'Nature culture speciale', 'Surface terrain'],
      dtype='object')

Identifiant de document       float64
Reference document            float64
1 Articles CGI                float64
2 Articles CGI                float64
3 Articles CGI                float64
4 Articles CGI                float64
5 Articles CGI                float64
No disposition                  int64
Date mutation                  object
Nature mutation                object
Valeur fonciere                object
No voie                       float64
B/T/Q                          object
Type de voie                   object
Code voie                      object
Voie                           object
Code postal                   float64
Commune                        object
Code departement               object
Code commune                    int64
Prefixe de section            float64
Section                        object
No plan                         int64
No Volume                      object
1er lot                        object
Surface Carrez du 1er lot      object
2eme lot                       object
Surface Carrez du 2eme lot     object
3eme lot                       object
Surface Carrez du 3eme lot     object
4eme lot                       object
Surface Carrez du 4eme lot     object
5eme lot                      float64
Surface Carrez du 5eme lot     object
Nombre de lots                  int64
Code type local               float64
Type local                     object
Identifiant local             float64
Surface reelle bati           float64
Nombre pieces principales     float64
Nature culture                 object
Nature culture speciale        object
Surface terrain               float64
dtype: object

In [30]:
dvf_2024.dropna(subset=['Date mutation', 'Nature mutation', 'Type local', 'Nombre pieces principales', 'Valeur fonciere', 'Code postal','Commune', 'Code departement', 'Code commune', '1er lot', 'Surface Carrez du 1er lot'])

df = dvf_2024[
    (dvf_2024['Nature mutation'].str.contains('vente', case=False)) &
    (dvf_2024['Type local'].str.contains('appartement', case=False)) &
    (dvf_2024['Nombre de lots'] == 1) &
    (dvf_2024['Nombre pieces principales'] <= 2.0)
]
df[['Date mutation', 'Nature mutation', 'Type local', 'Nombre pieces principales', 'Valeur fonciere', 'Code postal','Commune', 'Code departement', 'Code commune', '1er lot', 'Surface Carrez du 1er lot']]

,Date mutation,Nature mutation,Type local,Nombre pieces principales,Valeur fonciere,Code postal,Commune,Code departement,Code commune,1er lot,Surface Carrez du 1er lot
131,10/01/2024,Vente,Appartement,2.0,"110000,00",1200.0,VALSERHONE,1,33,102.0,"45,67"
135,02/01/2024,Vente,Appartement,1.0,"299000,00",1500.0,AMBERIEU-EN-BUGEY,1,4,20.0,NaN
138,04/01/2024,Vente,Appartement,1.0,"148000,00",1120.0,DAGNEUX,1,142,3.0,"39,11"
259,03/01/2024,Vente,Appartement,1.0,"147000,00",1210.0,FERNEY-VOLTAIRE,1,160,104.0,"30,00"
269,12/01/2024,Vente,Appartement,2.0,"205000,00",1170.0,GEX,1,173,112.0,"54,09"
...,...,...,...,...,...,...,...,...,...,...,...
3458514,20/12/2024,Vente,Appartement,1.0,"281063,00",75007.0,PARIS 07,75,107,58.0,"24,92"
3458518,31/12/2024,Vente,Appartement,1.0,"160000,00",75015.0,PARIS 15,75,115,94.0,"15,44"
3458603,27/12/2024,Vente,Appartement,1.0,"285000,00",75006.0,PARIS 06,75,106,19.0,"20,10"
3458606,30/12/2024,Vente,Appartement,1.0,"260000,00",75016.0,PARIS 16,75,116,138.0,NaN
3458611,17/12/2024,Vente,Appartement,1.0,"200000,00",75012.0,PARIS 12,75,112,20.0,"18,52"